.body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-primary);
}

.tier-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tier-title {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 7rem;
  min-width: 7rem;
  min-height: 10rem;
}

.tier-title input {
  text-align: center;
  background: transparent;
  width: auto;
  max-width: 7rem;
}

.tier-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.tier-wrapper img {
  height: 10rem;
  width: 7rem;
}

.tier-wrapper p {
  text-align: center;
  max-width: 7rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tier-setup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  margin-top: 0;
}

.tier-setup input {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--bg-primary);
}

.tier-setup button {
  padding: 1rem;
  background: var(--bg-header);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 1rem;
  transition: transform 0.15s ease;
}

.tier-setup button:active {
  transform: scale(0.98);
}

.tier-setup button:hover {
  transform: scale(1.05);
  background: var(--bg-primary);
}

.error {
  margin: 0;
  margin-top: 1rem;
  color: red;
}
