.body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-primary);
}

.tier-setup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  margin-top: 0;
}

.tier-setup input {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--bg-primary);
}

.tier-setup button {
  padding: 1rem;
  background: var(--bg-header);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 1rem;
  transition: transform 0.15s ease;
}

.tier-setup button:active {
  transform: scale(0.98);
}

.tier-setup button:hover {
  transform: scale(1.05);
  background: var(--bg-primary);
}

.error {
  margin: 0;
  margin-top: 1rem;
  color: red;
}

.tier-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drop-zone {
  height: 14rem;
  width: 100%;
  background-color: wheat;
  display: flex;
  gap: 1rem;
}

.drop-zone.odd {
  background: var(--bg-tierlist-odd);
}

.drop-zone.even {
  background: var(--bg-tierlist-even);
}

.drop-zone .title {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  color: var(--color-primary);
}

.drop-zone .title input {
  text-align: center;
  background: transparent;
  max-width: 8rem;
  line-height: 1;
  padding: 0.5rem 0;
}

.drop-zone .lists {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tier-item {
  cursor: pointer;
  height: 13rem;
  width: 7rem;
  background: transparent;
  padding: 0;
  border: none;
}

.dragable-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.dragable-content-wrapper img {
  max-height: 10rem;
  max-width: 7rem;
  object-fit: cover;
}

.dragable-content-wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7rem;
  min-height: 3rem;
  max-height: 3rem;
  text-align: center;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
