.body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-primary);
}

.error {
  margin: 0;
  margin-top: 1rem;
  color: red;
}

.tier-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drop-zone {
  height: 14rem;
  width: 100%;
  background-color: wheat;
  display: flex;
  gap: 1rem;
}

.drop-zone.odd {
  background: var(--bg-tierlist-odd);
}

.drop-zone.even {
  background: var(--bg-tierlist-even);
}

.drop-zone .title {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  color: var(--bg-primary);
}

.drop-zone .title input {
  text-align: center;
  background: transparent;
  max-width: 8rem;
  padding: 0.5rem 0;
  height: 13rem;
  line-height: 4;
}

.drop-zone .title textarea {
  width: 100%;
  text-align: center; /* text horizontal center */
  resize: none;
  overflow: hidden;

  line-height: 1.3;
  padding: 0; /* important for true centering */
  border: none;
  background: transparent;
}

.drop-zone .lists {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tier-item {
  cursor: pointer;
  height: 13rem;
  width: 7rem;
  background: transparent;
  padding: 0;
  border: none;
}

.dragable-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.dragable-content-wrapper img {
  max-height: 10rem;
  max-width: 7rem;
  object-fit: cover;
}

.dragable-content-wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7rem;
  min-height: 3rem;
  max-height: 3rem;
  text-align: center;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
