.body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-primary);
}

.tier-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tier-title {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 7rem;
  min-width: 7rem;
  min-height: 10rem;
}

.tier-title input {
  text-align: center;
  background: transparent;
  width: auto;
  max-width: 7rem;
}

.tier-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.tier-wrapper img {
  height: 10rem;
  width: 7rem;
}

.tier-wrapper p {
  text-align: center;
  max-width: 7rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
